.container{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.add{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 6px;
}

.add input{
    height: 30px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid grey;
}

.add button{
    height: 26px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
}

.sort{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 6px;
}

.sort div{
    border: 1px solid rgb(210, 210, 210);
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.sort .active{
    color: white;
    background-color: dodgerblue;
    border: none;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.products .button-container{
    display: flex;
    gap: 10px;
}

.update{
    border: none;
    color: white;
    height: 21px;
    width: 36px;
    border-radius: 4px;
    background-color: orange;
}

.delete{
    border: none;
    color: white;
    height: 21px;
    width: 36px;
    border-radius: 4px;
    background-color: red;
}

.products .left{
    display: flex;
    gap: 10px;
}

.products .product{
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    border-radius: 5px;
}

.delete-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.delete-container button{
    border: none;
    padding: 6px 17px;
    border-radius: 5px;
    background-color: red;
    color: white;
}

.error{
    font-size: 16px;
    margin-top: -10px;
    margin-left: 3px;
    color: red;
}